@import "normal.css";
@import "fonts.css";

:root{
    --off-white: #ffffff;
    --light-grey: #f5f5f5;
    --grey-line: #cccccc;
    --light-p:#deddef;
    --dark-p:#55425b;
    --vibe-p:#57408e;
    --off-black:#272425;

    --b-back: var(--light-p);
    --f-back: var(--off-white);
    --t-color: var(--off-black);
    --h-color: var(--dark-p);
    --d-line: var(--grey-line);
    --m-color: var(--light-grey);

    --p-t-f: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --h-t-f: roboto_condensed, Arial, Helvetica, sans-serif;

}

html{
    background-color: var(--b-back);
    color: var(--t-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:100%;
    margin: auto;
}

body{margin: auto;}

.contain{
    background-color: var(--f-back);
    border: 2.5px solid var(--b-back);
    margin: .75rem;
    outline:2.5px solid var(--f-back);
}

a{text-decoration: none;}

header .logo{
    left:0;
    position: relative;
    top:.25rem;
}

header .logo svg, header .logo img{width: 6rem;}
header .logo a{
    margin:0;
    padding:0 0 1rem 0;
}

header{
    color:var(--h-color);
    font-weight: bold;
    text-align: center;
    padding: .25rem 0;
}


/*For home page*/
#introduction{
    font-style: normal;
    font-weight: thin;
    padding: 1rem;
}
#introduction h6{text-align: center;}

/*site wide*/
p{
    padding: 1rem;
    text-indent: 2rem; 
    line-height: 2;
}

dd{line-height: 2;}

h1, h2, h4, h6, .res a, .ux_h a, .hp a, .portfolio_h a, .abt a, .cnt a, .arduino_h a, .logo_h a, .portfolio_h a{color:var(--h-color);}

.res, .ux_h, .hp, .portfolio_h, .abt, .cnt, .arduino_h, .logo_h, .portfolio_h{
    text-align: center;
    font-family: var(--h-t-f);
    font-weight: bold;
    background-color: var(--f-back);
    border-bottom: 1px solid var(--d-line);
    padding: .5rem 0 1rem 0;
    position: sticky;
    top: 0;
    z-index: 25;
    margin: 0;
}


img, video, svg{max-width: 100%;}

.github, .yt{
    width:50px;
    height:50px;
}
.yt{
    position: relative;
    top:.5rem;
}
/*About page*/
.me_p{padding: 0 2rem;}
/*contact page*/
/* .contact h4, .socialmedia{
    color: darkslateblue;
    margin:1rem;
}

.c_c{
    padding: 0 1rem;
} */

/*resume*/
.resume{
    font-size: .75rem;
    padding: 1rem;
}

.basic_info, .resume h2, .resume h4, .portfolio_l h1, .portfolio_l h2, .portfolio_l h3, .portfolio_l h4, .portfolio_l h5, .portfolio_l h6, .portfolio_a h1, .portfolio_ux h1, .portfolio_ux h3, .top, .stool h3{text-align: center;}

.resume div, .resume div dt, .resume div dd{
    padding-top: .75rem;
    line-height: 1.5;
}

.resume h2,  .resume h4{
    padding-top: 1rem;
    padding-bottom:0;
    margin:0;
}

.resume h4{padding-top: .5rem;}
.resume dl, .accomplishments ul, .skill ul, .school h5{margin: .5rem 0 .25rem 0;}
.resume .education ul li, .cat{list-style: none;}
.accomplishments li{line-height: 2;}
.cat{padding:.5rem 0;}
.skill li{line-height: 1.5;}
.skill{padding-top: 1rem;}

/*Portfolio Page*/
.portfolio img{opacity: .35;}

.portfolio h2{
    font-family: var(--h-t-f);
    font-weight: bold;
    text-shadow: 2px 2px var(--m-color);
}

.portfolio ul{list-style: none;padding:0;}
.portfolio main{margin: 0;}
.arduino h2, .ux h2, .portfolio .logo h2, .photo h2{
    font-size: 1.125rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 10;
}

.phoenix p a{text-decoration: underline;}
.portfolio .logo, .ux, .arduino, .photo{position: relative;}

/*ai & photo page*/
.portfolio_l .logos{
    left: 2.5%;
    position: relative;
    width: 95%;
}
/*ux page*/
.yale{border-bottom: 1px solid var(--d-line);}
.portfolio_ux p, .portfolio_a p{padding: 0 2rem;}

/*menu navigation*/
nav{
    background: var(--m-color) ;
    border-bottom: 1px solid var(--d-line);
    font-family: var(--h-t-f);
}

nav ul {
    font-weight: bold;
    line-height: 0;
    margin: 0;
    padding: .5rem 1rem;
    text-align: justify;
  }

nav ul li {
    list-style: none;
    line-height: 100%;
    text-align: center;
    padding: 1rem;
}

nav ul li a{padding: .75rem .75rem;}

/*Pic on the about page*/
#me p{padding:1rem;}
.me img{width: 100%;}
/* CSS stuff for the social media tabs */
.social ul{
    list-style:none;
    padding: 0;
    
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    gap: 3rem 6rem;

    justify-content: center;
    align-content: center;
}

.portfolio li::marker{
    display: none;
}

/*For Tablets*/

@media screen and (min-width:31rem){
    .portfolio ul{
        max-width: 25rem;
        display: grid;
        grid-template-columns: 15rem 15rem;
        grid-template-rows: 9rem 9rem;
        padding:0;
        gap: 1rem 2rem;
    }
    .portfolio main{
        margin: 0;
        padding-bottom: 3rem;
    }


    .social ul{display: flex; justify-content: space-between;}

}